{% if user.is_authenticated %}
    Logged in as {{ user.username }}
    <a href="{% url 'createtask' %}">Create</a>
    <a href="{% url 'currenttasks' %}">Current</a>
    <a href="{% url 'completedtasks' %}">Completed</a>
    <br>
    <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'signupuser' %}">Sign up</a>
    <a href="{% url 'signinuser' %}">Sign in</a>
{% endif %}
<br>
<br>

{% block content %}
{% endblock %}