{% extends 'todo/base.html' %}
{% block content %}
    CURRENTTASKS
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'viewtask' task.id %}">
                    {% if task.is_important %}
                        <b>
                    {% endif %}
                    {{ task.name }}
                    {% if task.is_important %}
                        </b>
                    {% endif %}
                    {% if task.description %}
                         - {{ task.description }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}