{% extends 'todo/base.html' %}
{% block content %}
    CURRENTTASKS
    <ul>
        {% for task in tasks %}
            <li>
                {% if task.is_important %}
                    <b>
                {% endif %}
                {{ task.name }}
                {% if task.is_important %}
                    </b>
                {% endif %}
                {% if task.description %}
                     - {{ task.description }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}